@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Open+Sans:wght@300;400;500&family=PT+Sans:wght@700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* outline: 1px solid red; */
}
body{
    background: url(/img/hero.jpg) no-repeat center center fixed;
    background-size: cover;
}
.main{
    position: relative;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
#vanta {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

.header__img{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    
}
.header__picture{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    border: 1.5px solid #fff;  
    box-shadow: 3px -3px 40px 31px rgba(0,0,0,0.63);
    -webkit-box-shadow: 3px -3px 40px 31px rgba(0,0,0,0.63);
    -moz-box-shadow: 3px -3px 40px 31px rgba(0,0,0,0.63);
}
.header__enlace{
    display: flex;
    justify-content: center;
}
.header__title{
    display: inline-block;
    margin-top: 1.5rem;
    background-color: rgba(0, 0, 0, 30%);
    color: #fff;
    padding: 5px 5px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #fff;
}
.container__links{
    margin-top: 2rem;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__link{
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    width: 30rem;
    border-radius: 30px;
    margin-bottom: 1.5rem;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #fffa;
    color: #000;
}
.container__link:hover{
    background-color: rgba(0, 0, 0, 30%);
    color: #fff;
    border: 1.5px solid #fff;
}

.footer__copy{
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 550px) {
    .container__link{
        width: 20rem;
    }
}

@media screen and (max-width: 365px) {
    .container__links{
        height: 57vh;
    }
    .container__link{
        width: 15rem;
    }
    .footer{
        margin-top: 1rem;
    }
}